.dropdown-toggle::after {
    display: none !important; 
}

.toggle-dropdown-btn{
  text-decoration: underline !important;
  padding: 0 !important;
  border: none !important;
  margin-left: 10px;
}


@media screen and (min-width: 325px) {
  .work-selector-container{
    display: flex;
    justify-content: space-between;  
  }
}