.container-wrapper{
    position: relative;
}

.card-content{
    position:absolute;
    bottom: 10%;
    left: 10%;
    text-align: justify;
}

.lg-w-30{
    width: 30%;
}
.lg-w-70{
    width: 70%;
}

@media screen and (max-width: 768px) {
    .lg-w-30 {
        width: 80%;
    }
    .lg-w-70 {
        width: 80%;
    }
}

.card-header{
    font-weight: 400;
    font-size: 0.75em;
}

.card-body{
    font-weight: 400;
    font-size: 4vmin;
}

.card-footer{
    font-weight: 400;
    font-size: 0.75em;
}

a{
  text-decoration: none !important;
}

.read-more{
    margin-left: 4%;
}